<div>
  <h1>{{competition.name}}</h1>

  <div ng-hide="isEntrySaved || isLoadingCompetition">
    <p>Enter your details to win!</p>

    <form name="entryForm" ng-submit="submit()" novalidate>
      <div id="error_explanation" ng-if="errors">
        Sorry, ther was a problem saving your entry:
        <ul>
          <li ng-repeat="(field, errors) in errors">
            {{field}}:
            <span ng-repeat="error in errors">{{error}}</span>
          </li>
        </ul>
      </div>

      <p ng-if="competition.requires_entry_name" ng-class="{'has-error': isSubmitted && entryForm.name.$invalid}">
        <label for="name">Name</label>
        <input id="name" class="form-control" name="name" ng-model="$parent.entry.name" required>
      </p>

      <p ng-class="{'has-error': isSubmitted && entryForm.email.$invalid}">
          <label for="email">Email</label>
          <input id="email" class="form-control" name="email" type="email" ng-model="entry.email" required>
      </p>

      <input type="submit" value="Enter!" ng-disabled="isSubmitting">
    </form>
  </div>
  <div ng-if="isEntrySaved">
    <p>Thank you for entering our competition!</p>
  </div>
</div>
