<!doctype html>
<html ng-app="demo" ng-controller="AppCtrl">
  <head>
    <meta charset="utf-8">
    <title>Demo app</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Crest Retirement" />
    <meta name="keywords" content="crest, retirement, crest retirement" />
    <meta name="author" content="">

    <base href="/">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :application %>
  </head>
  <body ng-class="$root.pageSpecificClasses" ng-cloak>
    <div ng-view>
    </div>
    <!-- scripts here -->
    <%= javascript_include_tag :main %>
  </body>
</html>
