<div ng-controller="CampaignsController as ctrl" ng-init="ctrl.init(<%= campaigns_init(@campaign) %>)">
  <h1>{{ctrl.campaign.title}}</h1>

  <div ng-if="!ctrl.campaign.completed">
    <p>Enter your details to win!</p>

    <form name="campaign">
      <div id="error_explanation" ng-if="ctrl.errors">
        Sorry, ther was a problem saving your campaign:
        <ul>
          <li ng-repeat="(field, errors) in ctrl.errors">
            {{field}}:
            <span ng-repeat="error in errors">{{error}}</span>
          </li>
        </ul>
      </div>

      <p>
        <label for="title">Title</label>
        <input id="title" name="title" ng-model="ctrl.campaign.title">
      </p>

      <p>
        <label for="subject_line">Subject Line</label>
        <input id="subject_line" name="subject_line" ng-model="ctrl.campaign.subject_line">
      </p>

      <p>
        <label for="from_name">From Name</label>
        <input id="from_name" name="from_name" ng-model="ctrl.campaign.from_name">
      </p>

      <p>
        <label for="reply_to">Reply To</label>
        <input id="reply_to" name="reply_to" ng-model="ctrl.campaign.reply_to">
      </p>

      <input type="submit" ng-click="ctrl.action()" value="Save Campaign">
    </form>
  </div>

  <div ng-if="ctrl.campaign.completed">
    <p>Campaign was successfully created.</p>
  </div>

</div>
