---
http_interactions:
- request:
    method: post
    uri: https://us12.api.mailchimp.com/2.0/lists/members.json
    body:
      encoding: UTF-8
      string: '{"id":"1e37700ab9","status":"subscribed","opts":[],"apikey":"717008e14da769db801baac65aaa24c6-us12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":16,"data":[{"email":"sophie_ondricka@haagswift.co","id":"41cc4ec569","euid":"41cc4ec569","email_type":"html","ip_signup":null,"timestamp_signup":null,"ip_opt":"94.25.231.97","timestamp_opt":"2016-04-15
        17:24:42","member_rating":2,"info_changed":"2016-04-15 17:24:43","web_id":75178689,"leid":75178689,"language":null,"list_id":"1e37700ab9","list_name":"Test
        list 2","merges":{"EMAIL":"sophie_ondricka@haagswift.co","FNAME":"Edwin","LNAME":"Ward","CITY":"","ADDRESS":"","PHONE":"","ZIP":""},"status":"subscribed","timestamp":"2016-04-15
        17:24:42","is_gmonkey":false,"lists":[],"geo":[],"clients":[],"static_segments":[],"notes":[]},{"email":"alejandrin_waelchi@kiehn.com","id":"20458c005a","euid":"20458c005a","email_type":"html","ip_signup":null,"timestamp_signup":null,"ip_opt":"94.25.231.97","timestamp_opt":"2016-04-15
        17:25:48","member_rating":2,"info_changed":"2016-04-15 17:25:49","web_id":75178717,"leid":75178717,"language":null,"list_id":"1e37700ab9","list_name":"Test
        list 2","merges":{"EMAIL":"alejandrin_waelchi@kiehn.com","FNAME":"Vickie","LNAME":"Nolan","CITY":"","ADDRESS":"","PHONE":"","ZIP":""}[...]
