---
http_interactions:
- request:
    method: post
    uri: https://us12.api.mailchimp.com/2.0/lists/list.json
    body:
      encoding: UTF-8
      string: '{"filters":[],"start":0,"limit":25,"sort_field":"created","sort_dir":"DESC","apikey":"717008e14da769db801baac65aaa24c6-us12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"total":2,"data":[{"id":"1e37700ab9","web_id":16525,"name":"Test list
        2","date_created":"2015-11-05 14:16:48","email_type_option":false,"use_awesomebar":true,"default_from_name":"Sergey","default_from_email":"sergey@clickfunnels.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/bE5rRn","subscribe_url_long":"http:\/\/Clickfunnels.us12.list-manage1.com\/subscribe?u=08fe81f5b0d8c890e7eb6f127&id=1e37700ab9","beamer_address":"us12-6c387ced34-1b43d1c740@inbound.mailchimp.com","visibility":"pub","stats":{"member_count":15,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":64,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":0,"grouping_count":0,"group_count":0,"merge_var_count":6,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"date_last_campaign":null},"modules":[]},{"id":"641bd4d4dc","web_id":14245,"name":"Clickfunnels
        Test","date_created":"2015-11-03 14:44:19","email_type_option":false,"use_awesomebar":true,"default_from_name":"Sergey","default_from_email":"sergey@clickfunnels.com","default_subject":"","default_language":"en","list_rating":0,"subscribe_url_short":"http:\/\/eepurl.com\/bEMBqL","subscribe_url_long":"http:\/\/Clickfunnels.us12.list-manage.com\/subscribe?u=08fe81f5b0d8c890e7eb6f127&id=641bd4d4dc","beamer_address":"us12-6c387ced34-15348fd3a7@inbound.mailchimp.com","visibility":"pub","stats":{"member_count":0,"unsubscribe_count":0,"cleaned_count":2,"member_count_since_send":15,"unsubscribe_count_since_send":0,"cleaned_count_since_send":2,"campaign_count":1,"grouping_count":0,"group_count":0,"merge_var_count":8,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"date_last_campaign":null},"modules":[]}],"errors":[]}'
  recorded_at: Fri, 15 Apr 2016 18:37:40 GMT
- request:
    method: post
    uri: https://us12.api.mailchimp.com/2.0/lists/subscribe.json
    body:
      encoding: UTF-8
      string: '{"id":"1e37700ab9","email":{"email":"test_email_123@gmail.com"},"merge_vars":{"FNAME":"Rodrigo","LNAME":"Armstrong","optin_time":"2016-04-15
        18:37:39 UTC"},"email_type":"html","double_optin":false,"update_existing":false,"replace_interests":true,"send_welcome":false,"apikey":"717008e14da769db801baac65aaa24c6-us12"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"email":"test_email_123@gmail.com","euid":"2577e1a08e","leid":"75180869"}'
  recorded_at: Fri, 15 Apr 2016 18:37:41 GMT
recorded_with: VCR 3.0.1
